/.venv
/analyze_batch.py
/check_around.py
/check_liam.py
/check_new.py
/cutoff_plot.png
/cutoff_plot_monthly.png
/cutoff_plot_pageviews.png
/CWindowsSystem32cmd.exe.txt
/deaths_data.csv
/Geen duidelijke cutoff date zichtbaar voor Claude-Opus-4-5.png
/jan_2022_0-10_10perday_results.txt
/jan_2022_0-10_min15000_results.txt
/MonthChart GPT-5.2.png
/Old stuff
/test_batch_sizes.py
/test_llm_cutoff.py
/test_oct15_16.csv
/test_results_gemini_3_flash.csv
/top_pageviews.py
/verify_batch_order.py
/Verwachte trend niet zichtbaar.png
/Vrij slechte resultaten voor Claude-Opus-4-5.png
/__pycache__